.usuario {
  width: 100%;
  padding: 15px 20px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  max-width: calc(100% - 30px);  /* Ajusta el tamaño para no cortar */
  overflow-x: auto;  /* Permite desplazamiento horizontal si es necesario */
}

.usuario img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  border: 2px solid #ccc;
}

.usuario-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usuario-info .nombre {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  
}

.usuario-info .rol {
  font-size: 14px;
  color: #ddd;
  margin: 2px 0 0;
  text-align: center;
}
